
// Iframe
  
#iframe-wrapper
	position fixed
	bottom 0
	left 0
	width 100%
	height 100%
	z-index 100
	text-align center
	top 100%
	transition all .8s ease
	opacity 0
	visibility hidden
	background-color rgba(30,30,30,0.6)
	
.iframed
	#iframe-wrapper
		top 0
		opacity 1
		visibility visible
		transition all .8s ease 0, opacity .1s ease .7s

#iframe-projeto
	background-color #fff
	max-width 100%
	transform translateZ(0)
	perspective 1000
	backface-visibility hidden
	transition all .3s ease
	position static

.spinner-wrapper
	display none
	background-color #333
	opacity 0.6
	position fixed
	width 100%
	height 100%
	left 0
	top 0
	margin-left 130px

	@media(max-width: 991px)
		margin-left 0

.spinner
	width 40px
	height 40px
	position absolute
	margin auto
	z-index 102
	left 0
	right 0
	top 0
	bottom 0
	transition all 	.3s ease

.double-bounce1, .double-bounce2
	width 100%
	height 100%
	border-radius 50%
	background-color #999
	opacity 0.6
	position absolute
	top 0
	left 0
	-webkit-animation bounce 2.0s infinite ease-in-out
	animation bounce 2.0s infinite ease-in-out

.double-bounce2
	-webkit-animation-delay -1.0s
	animation-delay -1.0s

@keyframes bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
