$flagw = unit(80,"px");
$flagh = unit(60,"px");
		
.flags
	position absolute
	bottom 0
	left 9%
	z-index 900
	size(170px,128px)
	
	&::after
		content ''
		display block
		background-color $roxo
		width 40px
		height 50px
		border-radius 3px
		z-index 901
		position absolute
		absolute-horizontal-center()
		bottom 0

.flag
	display inline-block
	position relative
	cursor pointer
	transition transform .3s ease
	
	&::before
		content ''
		display block
		position absolute
		border-radius 50%
		bottom 0
		left 0
	
	&::before
		size(3px, 80px)
		background-color $cinza
	
.flag__container
	size($flagw, $flagh)
	position relative
	overflow hidden
	border-radius 4px
	-webkit-appearance none
	transform-origin 0 100%
	transform scale(.6)
	margin-bottom 40px
	
	
.flag--br
	transform-origin 100% 100%
	transform rotateZ(-15deg)
	
	&:hover
		transform rotateZ(-15deg) translateY(-15px)
	
	&::before
		left auto
		right 0
		
	.flag__container
		background-color $verde
		transform-origin 100% 100%
	
.flag__diamond
	position absolute
	background-color $amarelo
	size(35px)
	transform rotateZ(-45deg)
	transform-origin 0 100% 0deg
	absolute-center()
	
.flag__circle
	background-color $azul
	size(25px)
	border-radius 50%
	position absolute
	overflow hidden
	absolute-center()
	
	&::before
		content ''
		display block
		background-color $branco
		width 100%
		height 3px
		margin-top 10px
		transform rotateZ(55deg)
	
	
.flag--en
	transform-origin 0 100%
	transform rotateZ(15deg)
	
	&:hover
		transform rotateZ(15deg) translateY(-15px)
	
	.flag__container
		background-color $vermelho
	
.flag__stars
	position absolute
	background-color $azul
	size(43px,30px)
	z-index 902
	top 0
	left 0
	
	&::before
		content ''
		display block
		size(2px)
		background-color $branco
		border-radius 50%
		position absolute
		left -2px
		top -1px
		box-shadow $branco 4px 5px, $branco 8px 5px, $branco 12px 5px, $branco 16px 5px, $branco 20px 5px, $branco 24px 5px, $branco 28px 5px, $branco 32px 5px, $branco 36px 5px, $branco 40px 5px, $branco 4px 10px, $branco 8px 10px, $branco 12px 10px, $branco 16px 10px, $branco 20px 10px, $branco 24px 10px, $branco 28px 10px, $branco 32px 10px, $branco 36px 10px, $branco 40px 10px, $branco 4px 15px, $branco 8px 15px, $branco 12px 15px, $branco 16px 15px, $branco 20px 15px, $branco 24px 15px, $branco 28px 15px, $branco 32px 15px, $branco 36px 15px, $branco 40px 15px,  $branco 4px 20px, $branco 8px 20px, $branco 12px 20px, $branco 16px 20px, $branco 20px 20px, $branco 24px 20px, $branco 28px 20px, $branco 32px 20px, $branco 36px 20px, $branco 40px 20px, $branco 4px 25px, $branco 8px 25px, $branco 12px 25px, $branco 16px 25px, $branco 20px 25px, $branco 24px 25px, $branco 28px 25px, $branco 32px 25px, $branco 36px 25px, $branco 40px 25px
		
.flag__stripes
	size(100%,5px)
	background-color $branco
	position absolute
	z-index 901
	top 5px
	box-shadow $branco 0 10px, $branco 0 20px, $branco 0 30px, $branco 0 40px, $vermelho 0 45px, $branco 0 48px
		






