@import 'normalize'
@import 'fonts'

*:before,
*:after 
	box-sizing border-box

*:focus
	outline none

figure
	margin 0

.pace .pace-progress 
	background #3d3d3d
	position fixed
	z-index 10001
	top 0
	left 0
	height 4px
	transition width 1s

.pace-inactive 
	display none

body 
	color #3d3d3d
	font-size 16px
	overflow hidden

a 
	color #3d3d3d
	text-decoration none
	transition all .3s ease

a:hover 
	color #5c5c5c

blockquote,
p 
	margin 0
	padding 0

figcaption
	padding 20px 15px

.panel
	padding 20px 0

h1 
	font-family 'Amatic SC'
	font-weight normal
	font-size 46px
	margin 0
	line-height 100%

	a:hover 
		border-bottom 2px solid #3d3d3d
		color #3d3d3d

h3 
	@extend h1
	font-size 36px
	text-align center

	a 
		font-weight bold

.instructions
	span 
		font-family 'Amatic SC'
		font-size 28px
		font-weight normal
		color #bbb
		cursor default
		transition all .3s ease
		&:hover
			color #555

.table-wrapper 
	display table
	width 100%
	table-layout fixed

/*-- Top --*/
#header-wrapper 
	width 100%
	z-index 9999
	background-color #FFF

.instructions,.header-content,.arrows-wrapper 
	display table-cell
	vertical-align middle
	padding 0 20px 20px 20px

/*-- #Header --*/
#header 
	padding-top 30px
	& > div 
		user-select none

	.pop-menu 
		visibility hidden
		opacity 0
		transition all .2s ease-in-out
		position absolute
		right 0
		width 211px
		margin-top 16px
		background-color #FFF
		z-index 9999
		text-align left

		&.active 
			visibility visible
			opacity 1

			&::after,
			&::before
				width 100%

		&::before,
		&::after 
			content ''
			display block
			width 0px
			margin 0 auto
			height 1px
			background-color #000
			transition all .3s ease

		ul 
			margin 0
			padding 10px 15px

			li 
				padding 10px 0
				list-style none

			li + li
				border-top 1px dashed #000

		button 
			display none

		input 
			width 100%
			border none

#header input,
.pop-menu ul,
.meta  
	font-family 'Amatic SC'
	letter-spacing 4px
	font-size 26px
	text-transform uppercase

.header-content 
	text-align right

/*-- Controls --*/
.arrows-wrapper
	font-family 'Amatic SC'
	font-size 46px
	.table-wrapper > * 
		display table-cell
		text-align center
		vertical-align middle
		line-height 36px
		cursor pointer
		color #BBB

	&.mobile
		display none

	&.desktop 
		display table-cell

	a, span 
		transition all .3s ease-in-out

	a:hover 
		color #3d3d3d


/*-- Fullscreen button --*/
.fullscreen-btn 
	span
		display block
		margin 0 auto
		width 32px
		height 32px
		background-repeat no-repeat
		background-size 32px 64px
		background-image url('http://kaisermann.me/indiescovery.tumblr.com/assets/img/fullscreenicon.png')
		opacity 0.4

		&:hover 
			opacity 1

		&.off 
			background-position 0 0

		&.on 
			background-position 0 -33px

/*--  Header menu --*/
.header-menu 
	display inline-block

.nav-menu,
.header-title 
	display table-cell
	vertical-align middle

.nav-menu 
	position relative
	padding-top 5px
	padding-left 30px

/*-- #Hamburger menu icon --*/ 
.selector 
	user-select none
	display inline-block

	.bar-icon-wrapper 
		-webkit-transform translate3d(0,0,0)
		cursor pointer
		display inline-block

	.bar-icon 
		height 3px
		width 20px
		background #3d3d3d
		display block
		opacity 1
		margin-top 4px
		transition transform 0.15s linear
		transform-origin 50% 50%

		&:nth-child(1) 
			margin-top 0

		&:nth-child(2) 
			transition opacity 0.1s linear

	&.active .bar-icon:nth-child(1) 
		transform rotate(45deg) translate3d(5px,5px,0)

	&.active .bar-icon:nth-child(2) 
		opacity 0

	&.active .bar-icon:nth-child(3) 
		transform rotate(-45deg) translate3d(5px,-5px,0)

/*-- Gallery --*/
.slide-gallery 
	overflow-x hidden
	position relative

.slide-mask 
	overflow hidden

.slide-container:after 
	content ''
	display block
	clear both

.gallery-item 
	vertical-align top
	padding 0
	margin 0
	position relative
	float left
	display inline-block
	transition opacity .8s ease-in-out, left .3s ease-in-out
	width 100%

	&:not(.post-active)
		opacity 0.3

	&.pre-loading 
		opacity 1
		position static

	&.video figcaption,
	.panel 
		visibility hidden
		opacity 0
		transition opacity .3s ease-in-out

	&.post-active .panel,
	&.post-active.video figcaption 
		visibility visible
		opacity 1.0

	.video-wrapper
		max-height 423px
		background-color #000
		position relative
		padding 50% 0 0 0
		height 0
		overflow hidden

		iframe
			position absolute
			top 0
			left 0
			width 100%
			height 100%

	&.fullscreen
		figcaption,
		.panel
			opacity 0.15
			transition opacity .3s ease
			width 100%

			&:hover
				opacity 0.8

		.video
			figcaption
				position relative
				top 0
				background-color #fff
			.panel 
				background-color #fff
				position relative
				z-index 9999
				padding 20px

			.video-wrapper 
				max-height none
				padding 0
				height auto
				left 0
				top 0
				right 0
				bottom 0
				position absolute

.meta 
	text-align right
	font-size 18px
	letter-spacing 4px

.meta,.post-controls
	ul
		margin 0
		padding 0
		display inline-block

	li
		list-style none
		float left
		line-height 10px
	li + li
		margin-left 15px

.share-menu 
	display table-cell
	vertical-align middle
	width 80%

	li
		transition opacity .3s ease-in-out
		opacity 0.5

		&:hover
			opacity 1

.tumblr-controls 
	@extend .share-menu
	text-align right
	width 20%

/*-- Article wrapper --*/
article 
	width 800px
	margin 0 auto
	overflow-y auto
	padding 0 20px

	&.loading-slider
		background-color transparent
		height 458px

		div 
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			margin auto
			width 125px
			height 48px
			display inline-block

		span 
			font-family 'Amatic SC'
			font-size 38px
			letter-spacing 7px
			animation pulse 1s infinite 

.post-wrapper 
	padding 0


/*-- Text --*/
.img-responsive,
.body-text img 
	max-width 100%
	height auto
	display block
	margin 0 auto

/* Media */
@media (max-width:991px)  
	#header .instructions 
		display none

	.arrows-wrapper
		&.mobile
			display: block
		&.desktop 
			display: none;

	.header-content,
	.arrows-wrapper 
		display block

	.arrows-wrapper 
		padding 0 0 20px 0

	.meta 
		display none

.search-header 
	max-width 584px
	margin 0 auto

h2 
	text-align center
	font-family Amatic SC
	font-size 28px
	color #3d3d3d


@media (max-width:700px)  
	article 
		width 480px
		margin 0 auto


@media (max-width:520px)  
	article 
		width 280px
		margin 0 auto

@keyframes pulse {
  0% {
	opacity: 0;
  }
  10% {
	opacity: 0.2;
  }
  20% {
	opacity: 0.4;
  }
  30% {
	opacity: 0.6;
  }
  40% {
	opacity: 0.8;
  }
  50% {
	opacity: 1;
  }
  70% {
	opacity: 0.8;
  }
  80% {
	opacity: 0.6;
  }
  90% {
	opacity: 0.4;
  }
  100% {
	opacity: 0.2;
  }
}