@import "import/vars.styl"
@import "import/font.styl"

body
	background-color $cinza-bg
	background-image url('../img/bg-pattern.png')
	font-family 'Oxygen', Verdana, Arial, Geneva, sans-serif
	font-size 16px

// Sidebar 
@import ("import/components/sidebar.styl")

// Main
h1
h2
h3
h4
h5
h6
	font-family 'Josefin Sans'
	color #fff
	font-size 32px
	-webkit-text-stroke: 0.2px;

#page-wrapper
	margin-left 260px 
	position relative
	transition	margin-left .3s ease

	&.iframed
		overflow hidden

#page-content
	max-width 1200px
	@media(max-width:991px)
		max-width 100%
	//padding 25px
/*
.content-wrapper
	&.iframed
		@media(max-width: 991px)
			display none
*/

// Projeto info
#projeto-info
	position absolute
	left 0
	top -100%
	z-index 104
	max-width 70%
	transition top .3s ease, opacity .3s ease
	background-color $cinza-bg
	color #fff
	opacity 0
	width 100%

	&.iframed
		opacity 0.6
		&:hover
			top 0 !important
			opacity 0.9

	> div
		display table-cell
		vertical-align bottom
		padding 15px 25px

	.desc
		line-height 150%

		p 
			margin-bottom 5px

		a
			color $azul-0
			transition color .3s ease

			&:hover
				color $azul

	.close
		i
			cursor pointer
			font-size 24px
			transition transform .3s ease
			transform rotate(90deg)

			&:hover
				transform rotate(0deg)

// Resolution controls
#resolution-controls
	position absolute
	right 20px
	top -47px
	color #fff
	font-size 26px
	z-index 101
	transition all .3s ease
	opacity 0.6

	&.iframed
		top -22px

	&:hover
		top 0
		opacity 0.9

	span
		display inline-block
		cursor pointer
		padding 10px 
		background-color $cinza-bg
		transition all .3s ease

		&:hover
			background-color lighten($cinza-bg, 10%)

		&.active
			background-color lighten($cinza-bg, 20%)
	
// iframe
@import "import/components/iframe.styl"

// Front
@import "import/components/home.styl"

// Sidebar 
@import ("import/components/page.styl")

// Mobile 
@import "import/mobile.styl"