<div class="contact-form__container">
	<h2>lang("contact")</h2>
	<form class="contact-form">
		<div class="form__component animation--1">
			<label for="name">lang("form_name")</label>
			<input type="text" name="name"/>
		</div>

		<div class="form__component animation--2">
			<label for="email">E-mail</label>
			<input type="text" name="email" />
		</div>

		<div class="form__component animation--3">
			<label for="subject">lang("form_subject")</label>
			<select name="subject">
				<option value="form_subject_bugdet">lang("form_subject_bugdet")</option>
				<option value="form_subject_questions">lang("form_subject_questions")</option>
				<option value="form_subject_opinion">lang("form_subject_opinion")</option>
				<option value="form_subject_suggestions">lang("form_subject_suggestions")</option>
				<option value="form_subject_chat">lang("form_subject_chat")</option>
				<option value="form_subject_other">lang("form_subject_other")</option>
			</select>
		</div>

		<div class="form__component animation--4">
			<label for="message">lang("form_message")</label>
			<textarea name="message"></textarea>
		</div>

		<div class="form__component form__component--submit animation--5">
			<input type="submit" name="submit" class="form__submit" value="form_send"/>
		</div>
	</form>
</div>
