---
$project_list_by_cat = [];
$count = 1;
$cat_count = 1;

srand( (double) microtime() * 1000000 );

function random_color( $min, $max ) {
	static $last = -1;
	while ( ($ret = mt_rand( $min,$max )) == $last ) {}
	return($last = $ret);
}
function readDirectory( $dir, $recursive = true ) {
	if ( ! is_dir( $dir ) ) {
		return false;
	}
	try {
		$Resource = opendir( $dir );
		$Found = array();

		while ( false !== ($item = readdir( $Resource )) ) {
			if ( $item[0] == '.' ) {
				continue;
			}

			if ( $recursive === true && is_dir( $item ) ) {
				$Found[] = readDirectory( $dir . $item );
			} else { $Found[] = $dir . '/' . $item;
			}
		}
	} catch (Exception $e) {
		return false;
	}

	return $Found;
}

$project_dirs = readDirectory( 'projects', false );
foreach ( $project_dirs as $project_dir ) {
	if ( strlen( $project_dir ) < 3 ) {
		continue;
	}
	$project_info = json_decode( file_get_contents( $project_dir . '/meta.json' ), true );

	$project_info['dir'] = $project_dir;
	$project_list_by_cat[ $project_info['category'] ][] = $project_info;
}

foreach ( $project_list_by_cat as $cat => $projeto ) {
	shuffle( $project_list_by_cat[ $cat ] );
}

$main_url = 'https://' . $_SERVER['HTTP_HOST'] . dirname( $_SERVER['PHP_SELF'] );
$cats = [ 'cat_pessoal', 'cat_pessoal_blogs', 'cat_pessoal_opensource', 'cat_tuut', 'cat_zonainternet' ];
---
<div class="project-wrapper">
	<h2 class="page-title title--padded-mobile"><span lang( 'projects' ); </span></h2>

	<span foreach ( $cats as $catid ) :  </span>
		<span $projects = $project_list_by_cat[ $catid ]; </span>
		<div class="project__list">
			<h3 class="structure--animatable animation--1"><span lang( $catid ); </span></h3>
			<div class="project__grid clear--after">
				<span foreach ( $projects as $info ) :  </span>
					<span
					if ( isset( $info['hidden'] ) && $info['hidden'] ) {
						continue;
					}
						$id = $info['id'];
						$color = random_color( 1,5 );
						$thumbPath = "projects/$id/$id.jpg";
						$hasThumb = file_exists( ABSPATH . '/' . $thumbPath );
					</span>
					<div class="project__item project--color-<span echo $color; </span> animation--<span echo $count++;  </span> <span if ( ! $hasThumb ) { echo '-no-thumb'; } </span>">
						<a href="#projects/<span echo $id; </span>" class="project__link">
							<div class="project__link-wrapper ">
								<span if ( $hasThumb ) :  </span>
									<img src="<span echo $main_url; </span>/<span echo $thumbPath; </span>" alt="<span echo $info['name']; </span>" />
								<span endif; </span>
								<div class="project__base project__base--color-<span echo $color; </span> "><h4 class="project__base-title"><span echo $info['name']; </span></h4></div>
							</div>
						</a>
						<div class="project__complete">
							<div class="project__complete-wrapper clear--after">
								<span
									$imgs = readDirectory( $info['dir'] . '/imgs', false );
								</span>
								<span if ( $imgs && count( $imgs ) > 0 ) :  </span>
									<span sort( $imgs, SORT_STRING ); </span>
									<div class="project__slides">
										<div class="project__slides-wrapper">
											<span
											foreach ( $imgs as $img ) {
												echo '<div class="project__slide"><img data-lazyload="' . $main_url . '/' . $img . '" /></div>';
											}
											</span>
										</div>
									</div>
								<span endif; </span>
								<div class="project__infos">
									<h4 class="project__title"><span echo $info['name'] </span></h4>
									<div class="project__desc">
										<span foreach ( $info['desc'][ $lang ] as $paragraph ) :  </span>
											<p><span echo $paragraph; </span></p>
										<span endforeach; </span>
										<p><strong><span lang( 'technologies' ); </span></strong>: <span
											$tech_list = @$info['technologies'];
											$nulltest = is_null( $tech_list );

										if ( $nulltest || $tech_list[0] == '+' ) {
											$tech_list = 'HTML5, CSS3, jQuery, Wordpress (PHP)' . ($nulltest?'':substr( $tech_list,1 ));
										}

											echo $tech_list;
											</span></p>
											<span if ( strlen( $info['area'] > 0 ) ) :  </span>
												<p><span echo '<strong>'; lang( 'project_area' ); echo '</strong>: ' . $info['area']; </span></p>
											<span endif; </span>
										</div>
										<span if ( strlen( $info['url'] ) > 4 ) :  </span>
											<div class="project__address">
												<a href="<span echo $info['url']; </span>" target="_blank">
													<span><span lang( 'project_link' ); </span></span>
												</a>
											</div>
										<span endif; </span>
									</div>
								</div>
							</div>
						</div>
					<span endforeach; </span>
				</div>
			</div>
		<span endforeach; </span>
	</div>
