.content
	position static
	z-index 1000
	top 0
	height 0
	width 100%
	background #333
	-webkit-overflow-scrolling touch
	opacity 0
	visibility hidden
	overflow hidden
	transition opacity .3s ease-in-out
	
.content--loading
	.loading__spinner
		display block	
		
	.content__wrapper
		background none
	
.content--loaded		
	.content__container
		opacity 1
	
.content--active
	opacity 1
	left 0
	visibility visible
	height auto

.content__wrapper
	width 100%
	margin 0 auto
	color #fff
	overflow hidden
	background-image url(../img/bg_notepad.jpg)
	background-size 412px 490px
	background-position 0 46px
	
.content__container
	position relative
	width 100%
	max-width 100%
	margin 0 auto
	color $preto
	opacity 0
	transition opacity .4s ease-in-out
	min-height 100vh
	
.window__top--content
	padding 6px 10px
	
	.window__top-dots
		size(10px)
		box-shadow $amarelo 16px 0px 0 0px, $verde 32px 0 0 0
		
		&.dot--red
			cursor pointer

.button--close
	position fixed
	top 30px
	right 30px
	padding 10px
	background-color $vermelho
	size(30px)
	padding 0
	transition transform 0.3s ease-in-out, opacity 0.3s ease
	cursor pointer
	border-radius 50%
	opacity .6
	box-shadow $branco 0 0 3px
	
	&::before
		content '\2715'
		display block
		size(100%,15px)
		color $branco
		position absolute
		absolute-vertical-center()
		text-align center
	
	&:hover
		opacity 1
		transform rotateZ(180deg)	
		
@media(max-width:991px)
	.content--loading
	.content--loaded
		position static
		
		.content__wrapper
			position static

	.inception-frame
		height 895px