absolute-center()
	top 0
	bottom 0
	left 0
	right 0
	margin auto
	
absolute-horizontal-center()
	left 0
	right 0
	margin-left auto
	margin-right auto
	
absolute-vertical-center()
	top 0
	bottom 0
	margin-top auto
	margin-bottom auto
	
translate-vertical-center(offset = 0)
	top 50%
	transform translateY(unit(-50+offset,"%"))
	
translate-horizontal-center(offset = 0)
	left 50%
	transform translateX(unit(-50+offset,"%"))
	
translate-center(offsetx = 0, offsety = 0)
	left 50%
	top 50%
	transform translate3d(unit(-50+offsetx,"%"),unit(-50+offsety,"%"),0)
	
laptop-size(lapwidth)
	max-width unit(lapwidth, "px")
	
	.window__content
		height unit($laptop-ratio * lapwidth, "px")
		
size(w,h=w)
	width w
	height h
	
invisible-animation()
	opacity 0
	transition opacity .5s .3s ease, transform .5s ease
	transform translateY(-100%)