$laptop-ratio = (8/16)

$notepad-font-size = 16px
$notepad-font-size-lines = 11px

$table-width = 1200px
$table-base-width = 70%
$table-leg-width = 60px

$woofer-width = 100px

$rosa = #FF007A
$roxo = #93648D
$verde = #7BC8A4
$azul = #4CC3D9
$amarelo = #FFC65D
$vermelho = #F16745
$preto = #404040
$branco = whitesmoke
$marrom = #664F36
$cinza = #353B42

$cor-papelparede = #EBEBEB

$azul-woofer = #58697C
$azul-escuro-woofer = #25292D

$vermelho-base-luminaria = darken($vermelho,10%)
$vermelho-escuro-luminaria = darken($vermelho,50%)

$roxo_claro = lighten($roxo,20%)
$roxo_claro_2 = lighten($roxo,40%)
$amarelo_claro = lighten($amarelo,40%)

$bezier-elastic = cubic-bezier(.63,-0.24,.13,1.23)

$position-lamp = 5%
$position-speaker-left = 21%
$position-laptop = 23%
$position-speaker-right = 21%
$position-telephone = 3%
$position-portrait = 7%
$position-shelf = 3%

$zoomeddelay = .3s

*,
*:before,
*:after
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	outline none

@import "components/mixins"
@import "components/font"
@import "components/text"
@import "components/animations"

body
	background-color $cor-papelparede
	background-image url(../img/brickwall.png)
	background-size 220px
	transition transform $zoomeddelay ease-in-out

	/*
	.lang--br
	.lang--en
		display none
	*/

	&.lang--br
		.flag--br
			transform rotateZ(-15deg) translateY(-15px)
	/*
		.lang--br
			display block
			&.lang--d-inline
				display inline

			&.lang--d-inline-block
				display inline-block
	*/


	&.lang--en
		.flag--en
			transform rotateZ(15deg) translateY(-15px)
			
	/*
		.lang--en
			display block
			&.lang--d-inline
				display inline

			&.lang--d-inline-block
				display inline-block
	*/


.body--notransition
	transition none

.body--noscroll
	height 100vh
	overflow hidden

.hidden-thingies
	display none

@import "components/objects/workspace"
@import "components/objects/bookshelf"
@import "components/objects/camera"
@import "components/objects/clock"
@import "components/objects/portrait"
@import "components/objects/laptop"
@import "components/objects/table"
@import "components/objects/speaker"
@import "components/objects/lamp"
@import "components/objects/telephone"
@import "components/objects/flags"

@import "components/loading"
@import "components/content"
@import "components/form"
@import "components/page"
@import "components/eastereggs"
@import "components/breakpoints"
