.laptop
	position absolute
	bottom 0
	absolute-horizontal-center()
	z-index 899
	laptop-size(540)
	width 100%
	text-align left 
	margin-bottom 6px
	transition transform $zoomeddelay ease-in-out
	
	&.preanimation
		.notepad__code
			display none
				
	&.laptop--notransition
		transition none
				
	&.laptop--zoomed
		z-index 1000
		
		.monitor__screen
			opacity 0
			
.laptop__monitor
	position relative
	max-width 85%
	margin 0 auto
	background #222
	padding 15px 12px 6px
	border-top-left-radius 20px
	border-top-right-radius 20px
	border solid 2px #cdced1
	
.monitor__screen
	opacity 1
	transition opacity .2s ease-in-out
		
.monitor__cam
.monitor__mic
		width 8px
		height 8px
		background-color #000
		position absolute
		top 4px
		translate-horizontal-center()
		transition opacity $zoomeddelay ease-in-out
		
.monitor__cam
	cursor pointer
	background #000;
	border-radius 100%;
	box-shadow inset 0 -1px 0 rgba(255, 255, 255, 0.25);
	 
	 &::after
		content ''
		position absolute
		display block
		width 2px
		height 2px
		background #353542
		border-radius 50%
		translate-center()

.monitor__mic
	left 53%
	top 7px
	width 2px
	height 2px
	animation blink-green 2s step-end infinite
	
.window__top
	background-color #ccc
	padding 3px 10px
	border-top-left-radius 4px
	border-top-right-radius 4px
	
.monitor__cam
.monitor__mic
	display inline-block
	border-radius 50%
	
.window__top-dots
	display block
	width 5px
	height 5px
	border-radius 50%
	background-color $vermelho
	box-shadow $amarelo 10px 0px 0 0px, $verde 20px 0 0 0
	
.window__content
	position relative
	background-color $preto
	overflow hidden
	
.notepad__content
	font-family Monospace, Dudu Calligraphy
	font-size $notepad-font-size
	line-height 140%
	color #fff
	counter-reset lines
	overflow-y auto
	overflow-x hidden
	background-color #333
	height 100%
	position absolute
	top 0
	left 0
	width 100%
	
.notepad__code
	padding 2px 5px
	margin-left 24px
	white-space pre-wrap
	-ms-word-break break-all
	word-break break-all
	word-break break-word
	-webkit-hyphens auto
	-moz-hyphens auto
	hyphens auto
	
	a
		text-decoration underline
		
	&::after
		content ''
		display inline-block
		vertical-align middle
		margin-left -2px
		border-right 1px solid $branco
		width 1px
		height ($notepad-font-size)
		animation blink 1s step-end infinite
		
	a
		color $amarelo
		
		&:hover
			color $amarelo_claro
			
	br:last-child
		display none !important
	
.code__line
	counter-increment lines
	position relative
	
	&::before
		content counter(lines)
		font-size $notepad-font-size-lines
		color #666
		position absolute
		right 100%
		width 16px
		margin-right 8px
		text-align right
		
.code__tag
.code__tag .code__text
	color $azul
	
.code__value
	color $verde
	
.code__title
	color $roxo_claro
	
.code__attribute
	color $vermelho
	
.code__text
	color $branco
		
.laptop__base
	 width 100%
	 height 9px
	 position relative
	 top 0
	 background #c6c7ca
	 
	&::after
	&::before
		 content ''
		 display block
		 position relative
		 margin 0 auto
	
	&::before
		 width 123px
		 height 6px
		 background #a6a8ad
		 border-radius 0 0 12px 12px
	
	&::after
		 width 100%
		 height 6px
		 bottom -3px
		 background #b9babe
		 border-radius 0 0 20px 20px
