$cor-borda =  darken($marrom, 20%)
$cor-portaretrato = lighten($marrom, 20%)

.portrait
	position absolute
	right $position-portrait
	top 40px
	width 160px
	
	&:hover
		.portrait__container
			transform rotateZ(-60deg)
	
.portrait__container
.portrait__safe
	position relative
	width 100%
	height 160px
	cursor pointer
	
.portrait__container
	z-index 801
	background-color $cor-portaretrato
	box-shadow $cor-borda -2px 0, $cor-borda 2px 0, $cor-borda 0 -2px, $cor-borda 0 2px 
	transform-origin 50% -20%
	transition transform .3s $bezier-elastic
		
.portrait__nail
	position absolute
	width 4px
	height 4px
	background-color $preto
	top -20%
	border-radius 50%
	left 50%
	trasnform translateX(-50%)
	
	&::before
	&::after
		content ''
		display block
		position absolute
		width 42px
		height 1px
		background-color $preto
		transform-origin 0
		left 2px
		
	&::before
		transform rotate(45deg)
		
	&::after
		transform rotate(135deg)
		
.portrait__inside
	padding 10px 
	
.portrait__photo
	border 2px solid $cor-borda
	background-image url(../img/avatar-kaisermann.png)
	background-repeat no-repeat
	background-position center bottom
	background-size contain
	background-color $branco
	width 140px
	height 140px
		
.portrait__safe
	z-index 800
	position absolute
	background-color $cinza
	border-radius 10px
	border 6px solid lighten($cinza, 20%)
	top 0
	
	&:hover
		.safe__lock
			animation rotate-safe-lock 1s ease-in-out
			
		.safe__handle
			transform rotateZ(270deg)

.safe__lock
	position absolute
	display block
	width 40px
	height 40px
	background-color lighten($cinza, 30%)
	border-radius 50%
	border 5px dotted lighten($cinza, 10%)
	absolute-center()
	
	&::before
	&::after
		content ''
		display block
		position absolute
		left 50%
		top 50%
		transform translate3d(-50%,-50%,0)
		border-radius 50%
		
	&::before
		background-color lighten($cinza, 60%)
		width 20px
		height 20px
		border 2px solid lighten($cinza, 20%)

	&::after
		width 28px
		height 28px
		border 1px solid lighten($cinza, 20%)
		

.safe__handle
	position absolute
	absolute-vertical-center()
	width 15px
	height 15px
	border-radius 50%
	background-color lighten($cinza, 30%)
	border 2px solid lighten($cinza, 15%)
	left 20px
	transition transform .5s 1s ease-in-out
	
	&::before
		content ''
		display block
		width 40px
		height 5px
		background-color lighten($cinza, 30%)
		position absolute
		left -14px
		top 3px
		transform rotateZ(45deg)
	
	
















