
.speaker
	position absolute
	bottom 0
	background-color $cinza
	border-radius 10px
	text-align center
	padding 5px 10px
	cursor pointer
	
	&:hover
		.woofer
			animation woofer-playing .5s ease
	
	&.speaker--playing
		.woofer
			animation woofer-playing .6s ease infinite
	
.speaker--left
	left $position-speaker-left
	
.speaker--right
	right $position-speaker-right
	
.woofer
	display inline-block
	border-radius 50%
	position relative
	padding 15px
	background-color $branco
	border 7px solid $azul-escuro-woofer
	
	&::after
		content ''
		display block
		border-radius 50%
		position absolute
		absolute-center()
		
	&::after
		width 17px
		height 17px
		background-color $azul-woofer
		
	&.woofer--bottom
		padding 28px
		
		&::after
			width 30px
			height 30px