<div class="notepad">
  <div class="notepad__content">
    <div class="notepad__code html">
&lt;html&gt;
&nbsp;&lt;head&gt;
&nbsp;&nbsp;&lt;title&gt;Kaisermann - Portf&oacute;lio&lt;/title&gt;
&nbsp;&nbsp;&lt;meta name=&quot;author&quot; content=&quot;Christian Kaisermann &lt;<a href="#contact" class="section-link">christian@kaisermann.me</a>&gt;&quot;&gt;
&nbsp;&lt;/head&gt;
&nbsp;&lt;body&gt;
&nbsp;&nbsp;&lt;h1&gt;<span data-lang-id="some_personal_projects">Alguns projetos Pessoais</span>&lt;/h1&gt;
&nbsp;&nbsp;&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/zebraa" class="section-link">Zebraa</a>&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/girlsonroad" class="section-link">Girls On Road</a>&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/programadeindie" class="section-link">Programa de Indie</a>&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/10de10" class="section-link">10 de 10</a>&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/escoladopao" class="section-link">Escola do Pão</a>&lt;/li&gt;
&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&lt;h1&gt;<span data-lang-id="some_zonainternet_projects">Alguns projetos p/ Zona Internet</span>&lt;/h1&gt;
&nbsp;&nbsp;&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/marcelod2" class="section-link">Marcelo D2</a>&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&lt;li&gt;<a href="#projects/zonainternet" class="section-link">Zona Internet</a>&lt;/li&gt;
&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&lt;/body&gt;
&lt;/html&gt;
    </div>
  </div>
</div>
