@media(max-width: 991px)
	aside
		overflow hidden
		display block
		position relative
		max-width none

		&.iframed
			left 0

		.top
			margin-bottom 20px

	.mobile-menu-btn
		display inline-block
		float right
		margin-right 20px 
		
	nav
		transition all .3s ease
		max-height 0
		margin 0
		&.m-active
			margin 20px 0
			max-height 1000px

	#page-wrapper
		margin-left 0

	#bg-loading
	#iframe-wrapper
		position relative
		height auto

	#projeto-info
		position static
		max-width none
		width 100%
		display none

		&:hover
			opacity 1

		&.iframed
			opacity 1
			display block

		div
			display block

		.close
			text-align center

#resolution-controls
	@media(max-width: 480px)
		display none

	@media(max-width: 991px)
		span[data-width="100%"]
			display none
		position absolute
		
		&.iframed
		&:hover
			top 13px