// Margens

$margem-lateral-aside = 20px
// Cores
$azul = #537291
$azul-0 = lighten($azul, 20%);
$azul-2 = darken($azul, 20%)

$cinza-bg = #353535
$vermelho = #952328

$menu-side-largura = 8px
$menu-side-1 = $cinza-1 = lighten($cinza-bg, 20%)
$menu-side-2 = $cinza-2 = lighten($menu-side-1, 20%)
$menu-side-3 = $cinza-3 = lighten($menu-side-2, 20%)
$menu-side-4 = $cinza-4 = lighten($menu-side-3, 20%)
